# Program Header

In [53]:
import pandas as pd
import numpy as np
import autoreload
import os
import sys
import jellyfish
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)
from header import *

In [71]:
data_root = initialize_data_root("AY")

# Table of contents
1. [Import](#Import)
2. [Merge](#Merge)
3. [Clean](#Clean)
4. [Reshape](#Reshape)
5. [Save](#Save)

## Import <a name="Import"></a>

In [72]:
raw_sec_data = pd.read_csv(data_root+'02-build/clean/2019q3/sec_data_long.csv')
raw_tag_map = pd.read_csv(data_root+'02-build/clean/2019q3/tag_map.csv')
raw_cik_ticker_map = pd.read_csv(data_root+'02-build/clean/cik_ticker_map.csv')

In [73]:
raw_sec_data.columns

Index(['adsh', 'tag', 'version', 'coreg', 'ddate', 'qtrs', 'uom', 'value',
       'no_coreg', 'no_value', 'cik', 'company_name', 'sic', 'country',
       'period', 'form', 'fye', 'filed', 'accepted', 'instance', 'doc',
       'dyrqt', 'pyrqt'],
      dtype='object')

In [74]:
raw_tag_map.columns

Index(['tag', 'clean_tag'], dtype='object')

In [75]:
raw_cik_ticker_map.columns

Index(['ticker', 'cik'], dtype='object')

## Merge <a name="Merge"></a>

In [76]:
sec_data = raw_sec_data.merge(raw_tag_map, on = ['tag'])\
    .merge(raw_cik_ticker_map, on = ['cik'])

The goal is to get our data to the `adsh`, `dyrqt` level and use the `clean_tag`'s as columns, so we can't have duplicate values for the same `adsh-clean_tag-dyrqt`. In case of duplicates, let's keep the maximum value. The idea behind keeping the max is that smaller versions may be older (over 3 months instead of over 4 months) or the smaller groups may be categories of the larger one.

In [77]:
sec_data = sec_data.groupby(['adsh', 'clean_tag', 'filed',
                             'dyrqt', 'company_name', 'ticker',
                             'cik', 'sic', 'country', 'period', 'form'], as_index = False)['value']\
    .max()

## Clean <a name="Clean"></a>

Check that we're unique on the `adsh-dyrqt-cleantag` level

In [78]:
sec_data.groupby(['adsh', 'dyrqt', 'clean_tag'])\
    .nunique()\
    .sort_values('value', ascending = False)\
    .query("value > 1")

Empty DataFrame
Columns: [adsh, clean_tag, filed, dyrqt, company_name, ticker, cik, sic, country, period, form, value]
Index: []

## Reshape <a name="Reshape"></a>

In [79]:
sec_data.head()

,adsh,clean_tag,filed,dyrqt,company_name,ticker,cik,sic,country,period,form,value
0,0000002178-19-000086,AccountsPayableCurrent,2019-08-07 00:00:00,201902,"ADAMS RESOURCES & ENERGY, INC.",ae,2178,5172.0,US,2019-06-30,10-Q,116983000.0
1,0000002178-19-000086,AccountsReceivableNetCurrent,2019-08-07 00:00:00,201902,"ADAMS RESOURCES & ENERGY, INC.",ae,2178,5172.0,US,2019-06-30,10-Q,74499000.0
2,0000002178-19-000086,AccumulatedDepreciationDepletionAndAmortizatio...,2019-08-07 00:00:00,201902,"ADAMS RESOURCES & ENERGY, INC.",ae,2178,5172.0,US,2019-06-30,10-Q,97640000.0
3,0000002178-19-000086,AdditionalPaidInCapital,2019-08-07 00:00:00,201902,"ADAMS RESOURCES & ENERGY, INC.",ae,2178,5172.0,US,2019-06-30,10-Q,12497000.0
4,0000002178-19-000086,AllowanceForDoubtfulAccountsReceivableCurrent,2019-08-07 00:00:00,201902,"ADAMS RESOURCES & ENERGY, INC.",ae,2178,5172.0,US,2019-06-30,10-Q,117000.0

In [80]:
sec_data_wide = sec_data.pivot_table(values = 'value',
                                     index = ['adsh', 'company_name', 'dyrqt', 'filed',
                                              'cik', 'sic', 'ticker', 'country', 'period'],
                                    columns = 'clean_tag')\
    .reset_index()

In [81]:
percent_missing = sec_data_wide.isnull().sum() * 100 / len(sec_data_wide)
missing_value_df = pd.DataFrame({'column_name': sec_data_wide.columns,
                                 'percent_missing': percent_missing}).sort_values('percent_missing', ascending = True)

In [82]:
percent_missing_by_company = sec_data_wide.groupby('adsh').apply(lambda x: x.notnull().mean())

In [83]:
percent_missing.loc[percent_missing < 15]

clean_tag
adsh                                                0.000000
company_name                                        0.000000
dyrqt                                               0.000000
filed                                               0.000000
cik                                                 0.000000
sic                                                 0.000000
ticker                                              0.000000
country                                             0.000000
period                                              0.000000
AdditionalPaidInCapital                            10.241747
Assets                                              0.363920
CashAndCashEquivalents                              1.507668
CommonStockSharesOutstanding                       12.737198
EarningsPerShareDiluted                             9.513907
LiabilitiesAndStockholdersEquity                    0.363920
NetIncomeLoss                                       3.405251
OperatingIncomeLoss                                 7.434364
PropertyPlantAndEquipmentNet                       10.553678
RetainedEarningsAccumulatedDeficit                  5.380816
StockholdersEquity                                  2.027554
WeightedAverageNumberOfDilutedSharesOutstanding    10.579672
dtype: float64

In [84]:
sec_data_wide.fillna(value = 0, inplace = True)

In [85]:
sec_data_wide.loc[sec_data_wide.ticker == 'imci']

clean_tag,adsh,company_name,dyrqt,filed,cik,sic,ticker,country,period,AccountsPayableCurrent,...,ShareBasedCompensation,Short Term Investments,StockIssuedDuringPeriodValue,StockholdersEquity,SubleaseIncome,TotalLiabilities,TreasuryStockShares,TreasuryStockValue,WeightedAverageNumberOfDilutedSharesOutstanding,WeightedAverageNumberOfSharesOutstandingBasic
3616,0001654954-19-007941,INFINITE GROUP INC,201704,2019-07-03 00:00:00,884650,7370.0,imci,US,2017-12-31,864931.0,...,0.0,0.0,0.0,-4038564.0,0.0,4620933.0,0.0,0.0,0.0,0.0
3617,0001654954-19-007942,INFINITE GROUP INC,201801,2019-07-03 00:00:00,884650,7370.0,imci,US,2018-03-31,508354.0,...,0.0,0.0,0.0,-4125564.0,0.0,4446753.0,0.0,0.0,29061883.0,0.0
3618,0001654954-19-007943,INFINITE GROUP INC,201802,2019-07-03 00:00:00,884650,7370.0,imci,US,2018-06-30,458249.0,...,0.0,0.0,0.0,-4168564.0,0.0,4337538.0,0.0,0.0,29061883.0,0.0
3619,0001654954-19-007944,INFINITE GROUP INC,201803,2019-07-03 00:00:00,884650,7370.0,imci,US,2018-09-30,352554.0,...,0.0,0.0,0.0,-4152564.0,0.0,4458037.0,0.0,0.0,29061883.0,0.0
3620,0001654954-19-007945,INFINITE GROUP INC,201804,2019-07-03 00:00:00,884650,7370.0,imci,US,2018-12-31,367536.0,...,0.0,0.0,0.0,-4000094.0,0.0,4334197.0,0.0,0.0,0.0,0.0
3621,0001654954-19-007946,INFINITE GROUP INC,201901,2019-07-03 00:00:00,884650,7370.0,imci,US,2019-03-31,286529.0,...,260.0,0.0,0.0,-3964798.0,0.0,4642532.0,0.0,0.0,29061883.0,0.0

In [92]:
most_updated_pyrqt = sec_data_wide.groupby('cik', as_index = False)['dyrqt'].max()
sec_data_wide = sec_data_wide.merge(most_updated_pyrqt, on = ['cik', 'dyrqt'])

In [94]:
sec_data_wide.loc[sec_data_wide.ticker == 'imci']

clean_tag,adsh,company_name,dyrqt,filed,cik,sic,ticker,country,period,AccountsPayableCurrent,...,ShareBasedCompensation,Short Term Investments,StockIssuedDuringPeriodValue,StockholdersEquity,SubleaseIncome,TotalLiabilities,TreasuryStockShares,TreasuryStockValue,WeightedAverageNumberOfDilutedSharesOutstanding,WeightedAverageNumberOfSharesOutstandingBasic
3560,0001654954-19-007946,INFINITE GROUP INC,201901,2019-07-03 00:00:00,884650,7370.0,imci,US,2019-03-31,286529.0,...,260.0,0.0,0.0,-3964798.0,0.0,4642532.0,0.0,0.0,29061883.0,0.0

## Save <a name="Save"></a>
Create CSV versions in build/raw

In [95]:
sec_data_wide.to_csv(data_root+'02-build/clean/2019q3/sec_data_wide.csv')