In [1]:
import pandas as pd

In [2]:
def clean_data_Alec(merged_dataname):
    df = pd.read_csv(merged_dataname)
    tag_filter = pd.DataFrame(df.groupby('tag').count()['adsh'].sort_values(ascending = False))
    wanted_tags =  list(tag_filter.index.values)[0:100]
    df_cleaned = df[df['tag'].isin(wanted_tags)]
    df_cleaned = df_cleaned[['adsh', 'name', 'fp', 'filed', 'tag', 'ddate', 'uom', 'value']].sort_values('name')
    return df_cleaned

In [3]:
df_new = clean_data_Alec('/Users/Alec/Documents/DSGA_1001_Homework/DSGA_1001_Final_Project/1001-term-project/data/02-build/2019q3merged.csv')

In [4]:
from datetime import datetime

df_new['filed'] = pd.to_datetime(df_new['filed'], format = '%Y%m%d')
df_new['ddate'] = pd.to_datetime(df_new['ddate'], format = '%Y%m%d')

In [5]:
df_new = df_new[(df_new['ddate'].dt.year == 2019)]

In [6]:
df_new = df_new.dropna(axis = 0)

In [7]:
df_new = df_new[(df_new['fp'] == 'Q3')]

In [64]:
df_new.uom.unique().tolist()

['USD', 'pure', 'shares', 'CAD', 'Rate', 'CHF']

In [8]:
df_new = df_new[(df_new['uom'] != 'CHF')]
df_new = df_new[(df_new['uom'] != 'CAD')]
df_new = df_new[(df_new['uom'] != 'Rate')]

In [10]:
len(df_new.name.unique().tolist())

411

In [25]:
company_list = df_new.name.unique().tolist()
feature_list = []
for i in company_list:
    feature_list.append(len(df_new[df_new['name'] == i].tag.unique().tolist()))

In [26]:
feature_list

[30,
 54,
 38,
 55,
 62,
 28,
 51,
 60,
 61,
 37,
 43,
 54,
 58,
 23,
 35,
 67,
 58,
 38,
 60,
 52,
 36,
 33,
 36,
 58,
 27,
 52,
 41,
 36,
 66,
 39,
 58,
 61,
 32,
 28,
 39,
 42,
 22,
 59,
 52,
 58,
 56,
 39,
 54,
 57,
 45,
 44,
 47,
 61,
 42,
 60,
 29,
 1,
 51,
 35,
 49,
 32,
 63,
 44,
 49,
 49,
 40,
 55,
 19,
 37,
 1,
 60,
 33,
 1,
 54,
 46,
 61,
 66,
 66,
 61,
 64,
 54,
 37,
 58,
 46,
 34,
 47,
 43,
 57,
 48,
 68,
 59,
 64,
 32,
 44,
 26,
 43,
 70,
 38,
 46,
 52,
 43,
 24,
 53,
 51,
 51,
 61,
 60,
 53,
 34,
 60,
 54,
 35,
 1,
 1,
 60,
 52,
 40,
 50,
 1,
 31,
 50,
 35,
 33,
 66,
 40,
 59,
 49,
 43,
 49,
 1,
 64,
 1,
 1,
 59,
 51,
 46,
 58,
 55,
 53,
 55,
 54,
 55,
 48,
 29,
 37,
 54,
 35,
 43,
 67,
 36,
 47,
 57,
 56,
 60,
 30,
 41,
 35,
 50,
 41,
 42,
 50,
 58,
 52,
 1,
 64,
 61,
 36,
 47,
 45,
 65,
 39,
 32,
 24,
 40,
 54,
 37,
 39,
 42,
 48,
 45,
 45,
 55,
 42,
 35,
 64,
 71,
 72,
 42,
 35,
 59,
 40,
 57,
 55,
 65,
 63,
 48,
 31,
 64,
 61,
 59,
 54,
 56,
 54,
 39,
 1,
 39,
 60,
 27,
 55,
 1,
 47,
 52,
 48,
 60,
 57,
 60,
 44,
 53,
 50,
 21,
 29,
 64,
 42,
 53,
 25,
 59,
 53,
 33,
 34,
 40,
 55,
 42,
 30,
 61,
 35,
 68,
 55,
 61,
 68,
 22,
 53,
 25,
 67,
 41,
 41,
 57,
 46,
 52,
 52,
 34,
 61,
 51,
 54,
 45,
 1,
 42,
 59,
 58,
 41,
 45,
 31,
 55,
 36,
 58,
 61,
 55,
 1,
 44,
 52,
 50,
 42,
 54,
 39,
 44,
 49,
 56,
 52,
 58,
 5,
 57,
 58,
 35,
 47,
 58,
 50,
 50,
 36,
 60,
 50,
 37,
 44,
 51,
 57,
 46,
 36,
 67,
 24,
 39,
 5,
 60,
 58,
 37,
 57,
 59,
 52,
 24,
 42,
 61,
 1,
 51,
 29,
 52,
 63,
 58,
 1,
 36,
 49,
 54,
 38,
 26,
 40,
 60,
 49,
 48,
 24,
 52,
 63,
 54,
 49,
 62,
 33,
 55,
 47,
 43,
 53,
 56,
 38,
 34,
 60,
 59,
 43,
 58,
 1,
 1,
 47,
 66,
 57,
 32,
 11,
 60,
 54,
 41,
 27,
 66,
 43,
 37,
 65,
 1,
 67,
 52,
 56,
 43,
 5,
 31,
 67,
 33,
 44,
 41,
 44,
 49,
 44,
 59,
 58,
 57,
 1,
 62,
 37,
 47,
 31,
 56,
 46,
 52,
 51,
 28,
 56,
 73,
 73,
 3,
 37,
 27,
 57,
 59,
 43,
 30,
 52,
 50,
 26,
 29,
 55,
 28,
 53,
 56,
 36,
 59,
 39,
 64,
 61,
 55,
 11,
 1,
 33,
 50,
 39,
 22,
 26,
 1]

In [29]:
for i in company_list:
    if len(df_new[df_new['name'] == i].tag.unique().tolist()) < 30:
        df_new = df_new[df_new['name'] != i]

In [34]:
len(df_new.name.unique().tolist())

353

In [35]:
df_new.head()

,adsh,name,fp,filed,tag,ddate,uom,value
1034088,0001663577-19-000310,AB INTERNATIONAL GROUP CORP.,Q3,2019-07-15,NetCashProvidedByUsedInOperatingActivities,2019-05-31,USD,-615849.0
1034086,0001663577-19-000310,AB INTERNATIONAL GROUP CORP.,Q3,2019-07-15,NetCashProvidedByUsedInInvestingActivities,2019-05-31,USD,-78272.0
1034084,0001663577-19-000310,AB INTERNATIONAL GROUP CORP.,Q3,2019-07-15,NetCashProvidedByUsedInFinancingActivities,2019-05-31,USD,900000.0
1034072,0001663577-19-000310,AB INTERNATIONAL GROUP CORP.,Q3,2019-07-15,GrossProfit,2019-05-31,USD,148013.0
1034071,0001663577-19-000310,AB INTERNATIONAL GROUP CORP.,Q3,2019-07-15,GrossProfit,2019-05-31,USD,75774.0

In [38]:
new_company_list = df_new.name.unique().tolist()
new_feature_list = []
for i in company_list:
    new_feature_list.append(len(df_new[df_new['name'] == i].tag.unique().tolist()))

In [39]:
new_feature_list

[30,
 54,
 38,
 55,
 62,
 0,
 51,
 60,
 61,
 37,
 43,
 54,
 58,
 0,
 35,
 67,
 58,
 38,
 60,
 52,
 36,
 33,
 36,
 58,
 0,
 52,
 41,
 36,
 66,
 39,
 58,
 61,
 32,
 0,
 39,
 42,
 0,
 59,
 52,
 58,
 56,
 39,
 54,
 57,
 45,
 44,
 47,
 61,
 42,
 60,
 0,
 0,
 51,
 35,
 49,
 32,
 63,
 44,
 49,
 49,
 40,
 55,
 0,
 37,
 0,
 60,
 33,
 0,
 54,
 46,
 61,
 66,
 66,
 61,
 64,
 54,
 37,
 58,
 46,
 34,
 47,
 43,
 57,
 48,
 68,
 59,
 64,
 32,
 44,
 0,
 43,
 70,
 38,
 46,
 52,
 43,
 0,
 53,
 51,
 51,
 61,
 60,
 53,
 34,
 60,
 54,
 35,
 0,
 0,
 60,
 52,
 40,
 50,
 0,
 31,
 50,
 35,
 33,
 66,
 40,
 59,
 49,
 43,
 49,
 0,
 64,
 0,
 0,
 59,
 51,
 46,
 58,
 55,
 53,
 55,
 54,
 55,
 48,
 0,
 37,
 54,
 35,
 43,
 67,
 36,
 47,
 57,
 56,
 60,
 30,
 41,
 35,
 50,
 41,
 42,
 50,
 58,
 52,
 0,
 64,
 61,
 36,
 47,
 45,
 65,
 39,
 32,
 0,
 40,
 54,
 37,
 39,
 42,
 48,
 45,
 45,
 55,
 42,
 35,
 64,
 71,
 72,
 42,
 35,
 59,
 40,
 57,
 55,
 65,
 63,
 48,
 31,
 64,
 61,
 59,
 54,
 56,
 54,
 39,
 0,
 39,
 60,
 0,
 55,
 0,
 47,
 52,
 48,
 60,
 57,
 60,
 44,
 53,
 50,
 0,
 0,
 64,
 42,
 53,
 0,
 59,
 53,
 33,
 34,
 40,
 55,
 42,
 30,
 61,
 35,
 68,
 55,
 61,
 68,
 0,
 53,
 0,
 67,
 41,
 41,
 57,
 46,
 52,
 52,
 34,
 61,
 51,
 54,
 45,
 0,
 42,
 59,
 58,
 41,
 45,
 31,
 55,
 36,
 58,
 61,
 55,
 0,
 44,
 52,
 50,
 42,
 54,
 39,
 44,
 49,
 56,
 52,
 58,
 0,
 57,
 58,
 35,
 47,
 58,
 50,
 50,
 36,
 60,
 50,
 37,
 44,
 51,
 57,
 46,
 36,
 67,
 0,
 39,
 0,
 60,
 58,
 37,
 57,
 59,
 52,
 0,
 42,
 61,
 0,
 51,
 0,
 52,
 63,
 58,
 0,
 36,
 49,
 54,
 38,
 0,
 40,
 60,
 49,
 48,
 0,
 52,
 63,
 54,
 49,
 62,
 33,
 55,
 47,
 43,
 53,
 56,
 38,
 34,
 60,
 59,
 43,
 58,
 0,
 0,
 47,
 66,
 57,
 32,
 0,
 60,
 54,
 41,
 0,
 66,
 43,
 37,
 65,
 0,
 67,
 52,
 56,
 43,
 0,
 31,
 67,
 33,
 44,
 41,
 44,
 49,
 44,
 59,
 58,
 57,
 0,
 62,
 37,
 47,
 31,
 56,
 46,
 52,
 51,
 0,
 56,
 73,
 73,
 0,
 37,
 0,
 57,
 59,
 43,
 30,
 52,
 50,
 0,
 0,
 55,
 0,
 53,
 56,
 36,
 59,
 39,
 64,
 61,
 55,
 0,
 0,
 33,
 50,
 39,
 0,
 0,
 0]