# Program Header

In [17]:
import pandas as pd
import numpy as np
import autoreload
import os
import sys
import jellyfish
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)
from header import *

In [18]:
data_root = initialize_data_root("AY")

# Table of contents
1. [Import](#Import)
2. [Merge](#Merge)
3. [Clean](#Clean)
4. [Reshape](#Reshape)
5. [Save](#Save)

## Import <a name="Import"></a>

In [29]:
raw_sec_data = pd.read_csv(data_root+'02-build/clean/2019q3/sec_data_long.csv')
raw_tag_map = pd.read_csv(data_root+'02-build/clean/2019q3/tag_map.csv')

In [30]:
raw_sec_data.columns

Index(['index', 'adsh', 'tag', 'version', 'coreg', 'ddate', 'qtrs', 'uom',
       'value', 'no_coreg', 'no_value', 'cik', 'company_name', 'sic',
       'country', 'period', 'form', 'fye', 'accepted', 'instance', 'dyear',
       'doc'],
      dtype='object')

In [31]:
raw_tag_map.columns

Index(['clean_tag', 'tag', 'uom', 'qtrs'], dtype='object')

## Merge <a name="Merge"></a>

In [32]:
sec_data = raw_sec_data.merge(raw_tag_map, on = ['qtrs', 'uom', 'tag'])\
    .groupby(['adsh', 'qtrs', 'uom', 'clean_tag', 'ddate', 'company_name', 
              'cik', 'sic', 'country', 'period', 'form'], as_index = False)['value']\
    .max()

## Clean <a name="Clean"></a>

Check that we're unique on the `adsh-period-cleantag` level

In [41]:
sec_data.groupby(['adsh', 'period', 'clean_tag'])\
    .nunique()\
    .sort_values('value', ascending = False)\
    .query("value > 1")

,adsh,qtrs,uom,clean_tag,ddate,company_name,cik,sic,country,period,form,value
0,1,1,1,1,3,1,1,1,1,1,1,3
1,1,1,1,1,3,1,1,1,1,1,1,3
2,1,1,1,1,3,1,1,1,1,1,1,3
3,1,1,1,1,3,1,1,1,1,1,1,3
4,1,1,1,1,3,1,1,1,1,1,1,3
5,1,1,1,1,3,1,1,1,1,1,1,3
6,1,1,1,1,3,1,1,1,1,1,1,3
7,1,1,1,1,3,1,1,1,1,1,1,3
8,1,1,1,1,3,1,1,1,1,1,1,3
9,1,1,1,1,3,1,1,1,1,1,1,3
10,1,1,1,1,3,1,1,1,1,1,1,3
11,1,1,1,1,3,1,1,1,1,1,1,3
12,1,1,1,1,3,1,1,1,1,1,1,3
13,1,1,1,1,3,1,1,1,1,1,1,3
14,1,1,1,1,3,1,1,1,1,1,1,3
15,1,1,1,1,3,1,1,1,1,1,1,3
16,1,1,1,1,3,1,1,1,1,1,1,3
17,1,1,1,1,2,1,1,1,1,1,1,2
18,1,1,1,1,2,1,1,1,1,1,1,2
19,1,1,1,1,2,1,1,1,1,1,1,2
20,1,1,1,1,2,1,1,1,1,1,1,2
21,1,1,1,1,2,1,1,1,1,1,1,2
22,1,1,1,1,2,1,1,1,1,1,1,2
23,1,1,1,1,2,1,1,1,1,1,1,2
24,1,1,1,1,2,1,1,1,1,1,1,2
25,1,1,1,1,2,1,1,1,1,1,1,2
26,1,1,1,1,2,1,1,1,1,1,1,2
27,1,1,1,1,2,1,1,1,1,1,1,2
28,1,1,1,1,2,1,1,1,1,1,1,2
29,1,1,1,1,2,1,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
5103,1,1,1,1,2,1,1,1,1,1,1,2
5104,1,1,1,1,2,1,1,1,1,1,1,2
5105,1,1,1,1,2,1,1,1,1,1,1,2
5106,1,1,1,1,2,1,1,1,1,1,1,2
5107,1,1,1,1,2,1,1,1,1,1,1,2
5108,1,1,1,1,2,1,1,1,1,1,1,2
5109,1,1,1,1,2,1,1,1,1,1,1,2
5110,1,1,1,1,2,1,1,1,1,1,1,2
5111,1,1,1,1,2,1,1,1,1,1,1,2
5112,1,1,1,1,2,1,1,1,1,1,1,2
5113,1,1,1,1,2,1,1,1,1,1,1,2
5114,1,1,1,1,2,1,1,1,1,1,1,2
5115,1,1,1,1,2,1,1,1,1,1,1,2
5116,1,1,1,1,2,1,1,1,1,1,1,2
5117,1,1,1,1,2,1,1,1,1,1,1,2
5118,1,1,1,1,2,1,1,1,1,1,1,2
5119,1,1,1,1,2,1,1,1,1,1,1,2
5120,1,1,1,1,2,1,1,1,1,1,1,2
5121,1,1,1,1,2,1,1,1,1,1,1,2
5122,1,1,1,1,2,1,1,1,1,1,1,2
5123,1,1,1,1,2,1,1,1,1,1,1,2
5124,1,1,1,1,2,1,1,1,1,1,1,2
5125,1,1,1,1,2,1,1,1,1,1,1,2
5126,1,1,1,1,2,1,1,1,1,1,1,2
5127,1,1,1,1,2,1,1,1,1,1,1,2
5128,1,1,1,1,2,1,1,1,1,1,1,2
5129,1,1,1,1,2,1,1,1,1,1,1,2
5130,1,1,1,1,2,1,1,1,1,1,1,2
5131,1,1,1,1,2,1,1,1,1,1,1,2
5132,1,1,1,1,2,1,1,1,1,1,1,2

In [87]:
sec_data = sec_data.sort_values(['period', 'ddate']).drop_duplicates(['adsh', 'clean_tag', 'period'], keep = 'first')

In [88]:
sec_data.groupby(['adsh', 'period', 'clean_tag'])\
    .nunique()\
    .sort_values('value', ascending = False)\
    .query("value > 1")

Empty DataFrame
Columns: [adsh, qtrs, uom, clean_tag, ddate, company_name, cik, sic, country, period, form, value]
Index: []

## Reshape <a name="Reshape"></a>

In [96]:
sec_data_wide = sec_data.pivot_table(values = 'value',
                                     index = ['adsh', 'company_name', 'ddate', 
                                              'cik', 'sic', 'country', 'period'],
                                    columns = 'clean_tag')\
    .reset_index()

In [97]:
percent_missing = sec_data_wide.isnull().sum() * 100 / len(sec_data_wide)
missing_value_df = pd.DataFrame({'column_name': sec_data_wide.columns,
                                 'percent_missing': percent_missing}).sort_values('percent_missing', ascending = True)

In [98]:
percent_missing_by_company = sec_data_wide.groupby('adsh').apply(lambda x: x.notnull().mean())

In [102]:
percent_missing.sort_values()

clean_tag
adsh                                                                                             0.000000
company_name                                                                                     0.000000
ddate                                                                                            0.000000
cik                                                                                              0.000000
sic                                                                                              0.000000
country                                                                                          0.000000
period                                                                                           0.000000
Liabilities                                                                                     35.816619
LiabilitiesAndStockholdersEquity                                                                35.862464
Assets                                                                                          35.954155
EntityCommonStockSharesOutstanding                                                              38.590258
NetIncomeLoss                                                                                   39.392550
RetainedEarningsAccumulatedDeficit                                                              39.782235
CashAndCashEquivalentsAtCarryingValue                                                           42.166189
AdditionalPaidInCapital                                                                         42.601719
WeightedAverageNumberOfSharesOutstandingBasic                                                   43.530086
CommonStockValue                                                                                43.747851
EarningsPerShareBasic                                                                           44.664756
InterestExpense                                                                                 44.962751
AccountsPayableCurrent                                                                          46.040115
PropertyPlantAndEquipmentNet                                                                    48.320917
GeneralAndAdministrativeExpense                                                                 50.166189
IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest     53.753582
OtherAssetsNoncurrent                                                                           55.209169
IncomeTaxExpenseBenefit                                                                         56.446991
OperatingLeaseRightOfUseAsset                                                                   58.876791
OtherNonoperatingIncomeExpense                                                                  59.461318
AccumulatedOtherComprehensiveIncomeLossNetOfTax                                                 59.724928
OperatingLeaseLiabilityNoncurrent                                                               60.802292
CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents                                   61.123209
                                                                                                  ...
ExerciseOfStockOptionsAndIssuanceOfOtherCompensationRelatedEquityInstrumentsValue               99.988539
FairMarketValueAdjustmentForAssetClassifiedAsHeldForSale                                        99.988539
FacilitiesInsuranceModificationsExpenseIncome                                                   99.988539
ExerciseOfWarrantsAt0.32PerSharePursuantToWarrantExerciseAgreementsDatedMay92019Amount          99.988539
ExpendituresBillableCurrent                                                                     99.988539
ExpenseFromAcquisitionAndFinancingCostsAndOtherItems                                            99.988539
PercentageOfOwnedCompaniesDerivativeLossesOnCashFlowHedgesReclassificationToEquityInEarnings    99.988539
ExpenseIncomeOnOperationsOfOtherRealEstate                                                      99.988539
ExpenseOfLiquidityOptionAgreement                                                               99.988539
ExpenseRatio                                                                                    99.988539
ExpenseReimbursements                                                                           99.988539
ExpenseSupportReimbursementFromRepaymentToAdvisor                                               99.988539
ExpenseWaivers                                                                                  99.988539
Penaltyaccruedasnotepayable                                                                     99.988539
Penalties                                                                                       99.988539
Expenseimpactofcostsattributabletosuccessfulleasingactivities                                   99.988539
PaymenttoSpinoffCashTransfered                                                                  99.988539
PaymentsofPrivatePerpetualPreferredUnitsDistributions                                           99.988539
PaymentsforProceedsfromChangeinOtherFinancialNoncurrentAssets                                   99.988539
PaymentsforIncreaseinLoansReceivable                                                            99.988539
ExpensesPaidOnBehalfOfCompanyRelatedParty                                                       99.988539
ExpiredLeases                                                                                   99.988539
ExtentionOfCertainStockOptionExpirationDatesAmount                                              99.988539
ExternalAccountingLegalAndOtherCostsAssociatedWithRestatement                                   99.988539
ExternalCurrentDebt                                                                             99.988539
FDICLossShareIncome                                                                             99.988539
FMCCOffset                                                                                      99.988539
PaymentsRelatedToRepurchasesOfVestedRestrictedStockAwardsWithheldOnNetShareSettlement           99.988539
PaymentsOfOrdinaryDividendsAndSpecialDividends                                                  99.988539
property                                                                                        99.988539
Length: 4224, dtype: float64

## Save <a name="Save"></a>
Create CSV versions in build/raw

In [100]:
sec_data_wide.to_csv(data_root+'02-build/clean/2019q3/sec_data_wide.csv')